.grid
{
	display: block;
    /*left: 27%;*/
    left: 25%;
    /*margin-top: 5px;*/
    margin-right: auto;
    position: relative;
    height: 50%;
    width: 50%;
    z-index: 1;

}

.container
{
    display: block;
    width: 100%;
	position: absolute;
    margin-top: 13%;
    

}

.peg
{
    /*margin-left: 50%;*/
    display: block;
	height: 8%;
    width: 3%;
	z-index: 40;
	position: absolute;

}

.submit
{
	display: block;
	margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 14%;
    height: 50%;
    font-size: x-large;
}

.loading
{
    /*padding-top: 450%;*/
    /*top: auto;*/
    left: 47%;
    top:45%;
    height: 10%;
    width: 4%;
    position: absolute;
    z-index: 100;
    
}

.message
{
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    text-align: center;
    font-size: 40px;
    /*display: block;*/
}

.credits
{
    text-align: center;
    width: 100%;
    margin-top:1%;
    /*margin-left: 42%;*/
    font-size: 20px;
    position: absolute;
}

.title
{
    margin-top:1%;
    text-align: center;
    font-size: 300%;
    color: black;
    text-align: left;
    display: block;
    position: absolute;
    width: 100%;
    /*margin-bottom: 100%;*/
    /*padding-bottom:100%;*/
    
}

.inner
{
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
    font-size: 100%;
    text-align: center;
    margin-top: 37%;
    padding-bottom: 2%;
    width: 30%;

}